.page
{
        background-image: url("/assets/img/bg__1.png");
        background-size:cover ;
}
.sidebar 
{
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}

.main-content 
{
    margin-left: 250px;
    padding: 40px;
}

.sidebar .nav-link {
    color: white;
}

.sidebar .nav-link:hover {
    color: gold; 
}
.dropdown-item.text-white:hover{
    background-color: darkgrey;
}

.navbar-bordered {
    border-bottom: 2px solid grey;
}